
<ion-view view-title="Main">
    <ion-content class="im-wrapper">        
        <center>
        <ion-list class="avatarList">
            <img src="img/male.png">
            <p class="merriweather item-main-title karla">Hi Eliran!</p>               
			<p class="merriweather quotes">The best way to get a good idea<br> is to get a lot of ideas.<span class="smlSpn"> - Linus Pauling</span></p>                            
			<br>
            <p class="merriweather welcomeMsg" ><span class="welcomeMsgTitle">Welcome to <i>IBM MobileFirst</i> Ideas!</span><br> This is your happy place to share thoughts, <br>explore suggestions, and upvote projects</p>                            
        </ion-list>  
        </center>
        <button class="button button-block button-calm" on-tap="doSuggest()">Got an idea?</button>
        <button class="button button-block button-positive" on-tap="doExplore()">Looking for inspiration?</button>       
        <button class="button button-block button-assertive" on-tap="doProfile()">Update your info</button>                
    </ion-content>
</ion-view>
