    <ion-view view-title="Profile">
        <ion-content class="im-wrapper">
          <div class="list card">
                  <div class="item item-avatar">
                    <img src="img/male.png">
                    <h2 class="empName karla">Eliran Ben Ishay</h2>
                    <p class="empTitle merriweather">Software Developer</b></p>
                  </div>
                  <a href="#" class="item item-icon-left item-text-wrap item-emp-card karla size14px">
                    <i class="icon ion-home"></i>3725 S Ocean Dr, Hollywood, FL, 33019
                  </a>
                  <a href="#" class="item item-icon-left item-emp-card merriweather size14px">
                    <i class="icon ion-ios-telephone"></i>347-307-4400
                  </a>
                  <a href="#" class="item item-icon-left item-emp-card karla size14px">
                    <i class="icon ion-email"></i>eliranbi@gmail.com
                  </a>
                  <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#"><i class="icon ion-thumbsup"></i>Like</a>
                    <a class="tab-item" href="#"><i class="icon ion-chatbox"></i>Comment</a>
                    <a class="tab-item" href="#"><i class="icon ion-share"></i>Share</a>
                  </div>
            </div>                    
      </ion-content>  
    </ion-view>