<!-- <ion-view class="walkthrough-view" cache-view="false"> -->
<ion-view class="" title="" hide-nav-bar="true" cache-view="false" hide-back-button="true">    
  <ion-content scroll="false">
    <div class="item item-image">
            <img src="img/bg-img.jpg" height="700px" class="bgImg">            
    </div>          
    <!--<div class="signInMsg" id="signMsg">Sign into your account</div>-->
    <div class="col col-center splashMsg" id="splashMsg">
        <img ng-src="img/ibmlogo3.png">
        <p class="splashSlogo">Your Ideas Matter!</p>                           
    </div>
    <!-- <div class="top-content row"></div> -->
    <center>
      <div class="list overlay box" id="splash-next-box" style="display:none;">
                <button class="button button-block button-energized-900" on-tap="doShowLogin()">Log In</button>
                <button class="button button-block button-energized" ui-sref="auth.signup">Sign Up</button>            
      </div>      
      <div class="list overlay lBox" id="login-box" style="display:none;">        
            <label class="item item-input rFont">
            <input type="text" placeholder="Enter your username" ng-model="user.username" class="rFont">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Enter your password" ng-model="user.password" class="rFont">
          </label>      
          <button class="button icon-left ion-locked button-block button-positive button-small rFont rFont-login" type="submit" on-tap="doLogin()">Login</button>                      
          <button class="button button-clear button-positive button-small rFont rFront-forgot">Forgot Password?</button>
      </div>                         
        
        
    </center>
    <!--<div class="bottom-content row"></div> -->
  </ion-content>
</ion-view>
